.table input,
.add-stock input {
  width: 70px;
}

.add-stock input {
  border: 1px solid #ced4da;
}

/* .display-portfolio {
  display: block;
  width: 100%;
} */


.table-responsive {
  overflow: auto;
  display: block;
  width: 100%;
}

.portfolio-summary {
  font-size: 1.5em;
}